trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: ubuntu-latest

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$(Pipeline.Workspace)/.m2/repository"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end"

steps:
  - task: Cache@2
    inputs:
      key: maven | "$(Agent.OS)" | pom.xml
      path: $(Pipeline.Workspace)/.m2/repository

  - script: |
      sudo apt-get update
      sudo apt-get install -y wget gnupg
    displayName: Install OS deps

  - script: |
      mvn exec:java -e \
      -Dexec.mainClass=com.microsoft.playwright.CLI \
      -Dexec.args="install --with-deps chromium"
    displayName: Install Playwright

  - script: |
      mvn $(MAVEN_CLI_OPTS) clean test
    displayName: Run tests

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: JUnit
      testResultsFiles: '**/surefire-reports/*.xml'
      failTaskOnFailedTests: false
